@namespace R5T.F0083.R001

@inherits R001.Internal.NamespaceNamedBase


@Instances.RazorOperator.AsText($"@namespace {this.NamespaceName}")


<h3>Example Component</h3>

@Instances.RazorOperator.AsText(@"@code {

}")