@namespace R5T.F0083.R001

@Instances.RazorOperator.AsText("@page \"/\"")

<html>
<head>
    <link rel="stylesheet" href="css-out/tailwind.css" />
</head>

<body>
    <div class="prose prose-lg prose-indigo">
        <h1>Hello world!</h1>

        <p>A friendly Index.razor page.</p>
    </div>
</body>
</html>