@namespace R5T.F0083.R001

@Instances.RazorOperator.AsText("@page \"/\"")

<html>

    <head>
        <link rel="stylesheet" href="css-out/tailwind.css" />
    </head>

    <body>
        <h1>Hello world!</h1>

        <p class="pt-6">A friendly Index.razor page.</p>
    </body>
</html>